@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fitness centar</h1>
    <p class="lead">Treniraj u NAJBOLJIM SPORTSKIM OBJEKTIMA I TERETANAMA</p>
</div>

<div class="row">
        <img style="width: 100%;" src="~/img/slides-fitnesscenter-treadmill1.jpg" />
</div>